
.search-index {
    width: auto !important;
    font-size: 0.8em;
    margin-right: 2%;
}

.search-header-cont {
    margin-top: 15%;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.node-cont {
    display: inline;
}

.node-btn {
    font-size: 0.8em;
    margin-bottom: 3px;
}

.nodes {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 2px;
}

.item-img {
    max-height: 300px;
}

.results-cont {
    margin-top: 20px;
}