<div searchheader></div>


<div class="row nodes-cont" ng-show="results">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row" ng-repeat="section in results.narrowNodes">
            <h4>Narrow by <b>{{section['@'].NarrowBy}}</b></h4>
            <div class="node-cont" ng-repeat="n in section.Bin">
                <button class="btn btn-info node-btn" ng-click="selectBin(n.BinParameter)">{{n.BinName}} ({{n.BinItemCount}})</button>
            </div>
        </div>
    </div>
</div>
<div class="row results-cont" ng-show="results">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row" ng-repeat="bracket in results.results">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                {{bracket.minPrice}} - {{bracket.maxPrice}}
            </div>
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="row" ng-repeat="item in bracket.items">
                    {{item.ASIN | filter:aPrice}}
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row loading" ng-hide="!loading || (results.results.length > 0)">
    LOADING...
</div>


<div class="footer">
  <p>♥ FiveStar.io</p>
</div>
