<div class="row search-header-cont">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="row">
            FiveStar.io
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-btn">
                    <select class="form-control pull-left search-index">
                        <option value="aps">All Departments</option>
                        <option value="appliances">Appliances</option>
                        <option value="mobile-apps">Apps for Android</option>
                        <option value="arts-crafts">Arts, Crafts & Sewing</option>
                        <option value="automotive">Automotive</option>
                        <option value="baby-products">Baby</option>
                        <option value="beauty">Beauty</option>
                        <option value="stripbooks">Books</option>
                        <option value="mobile">Cell Phones & Accessories</option>
                        <option value="apparel">Clothing & Accessories</option>
                        <option value="collectibles">Collectibles & Fine Art</option>
                        <option value="computers">Computers</option>
                        <option value="financial">Credit Cards</option>
                        <option value="electronics">Electronics</option>
                        <option value="gift-cards">Gift Cards Store</option>
                        <option value="grocery">Grocery & Gourmet Food</option>
                        <option value="hpc">Health & Personal Care</option>
                        <option value="garden">Home & Kitchen</option>
                        <option value="industrial">Industrial & Scientific</option>
                        <option value="jewelry">Jewelry</option>
                        <option value="digital-text">Kindle Store</option>
                        <option value="magazines">Magazine Subscriptions</option>
                        <option value="movies-tv">Movies & TV</option>
                        <option value="digital-music">MP3 Music</option>
                        <option value="popular">Music</option>
                        <option value="mi">Musical Instruments</option>
                        <option value="office-products">Office Products</option>
                        <option value="lawngarden">Patio, Lawn & Garden</option>
                        <option value="pets">Pet Supplies</option>
                        <option value="shoes">Shoes</option>
                        <option value="software">Software</option>
                        <option value="sporting">Sports & Outdoors</option>
                        <option value="tools">Tools & Home Improvement</option>
                        <option value="toys-and-games">Toys & Games</option>
                        <option value="videogames">Video Games</option>
                        <option value="watches">Watches</option>
                        <option value="wine">Wine</option>
                    </select>
                </div>
                <input type="text" class="form-control" ng-model="query" placeholder="toaster, t-shirt, DSLR">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>