<div class="row search-header-cont">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
        <div class="row">
            FiveStar.io
        </div>
        <div class="row">
            <div class="input-group">
                <div class="input-group-btn">
                    <select class="form-control pull-left search-index">
                        <option>TEST</option>
                        <option>TEST</option>
                        <option>TEST</option>
                    </select>
                </div>
                <input type="text" class="form-control" ng-model="query" placeholder="toaster, t-shirt, DSLR">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>